
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}
@section NoiDungBenPhai{
    <div>
        Lưu ý : Yêu cầu các nhóm 1 thành viên cần liên hệ trao đổi để thống nhất ghép nhóm thực hiện đăng ký Seminar và Đồ án. Sau ngày 02/10/2018 nếu không ghép thì GV tự ghép ngẫu nhiên và không giải quyết bất kỳ trường hợp nào sau này.
    </div>
    }
<p>Lưu ý : Yêu cầu các nhóm 1 thành viên cần liên hệ trao đổi để thống nhất ghép nhóm thực hiện đăng ký Seminar và Đồ án. Sau ngày 02/10/2018 nếu không ghép thì GV tự ghép ngẫu nhiên và không giải quyết bất kỳ trường hợp nào sau này.
Thầy Dũng</p>

